

/* ------------------------------------ Part 1-- */

.dp-setup{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    float: right;
    z-index: -1;
}








.div-name{
    margin: 50px;
    word-spacing: 10px;
    position: relative;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 80px;
}




.div-name::after{
    content: '|';
    position: absolute;
    right: 780px;
    color: black;
    width: 660px;
    background: white;
    animation: typing 3s steps(13) 0s infinite,
                line 0.5s infinite;
}

@keyframes typing{
    to{
        width: 0%
    }
}
@keyframes line{
    50%{
        color: transparent;
    }
}
